<launch>
  <!-- Nodo para robot_control.py -->
  <node name="follow_person" pkg="proyecto_servicios" type="follow_person.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

  <!-- Nodo para person_detection.py -->
  <node name="person_detection" pkg="proyecto_servicios" type="person_detection.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>

  <!-- Nodo para move_person.py -->
  <node name="move_person" pkg="proyecto_servicios" type="move_person.py" output="screen" respawn="false">
    <param name="required" value="true"/>
  </node>
</launch>
